env
platform_verif.py
data/labeled
data/unlabeled
.vscode
create_folder_tree.py
ref_oasl
data/video
*.pyc
OASL_processed
*.pth
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
