env
platform_verif.py
data/labeled
data/unlabeled
.vscode
create_folder_tree.py
ref_oasl
data/video
*.pyc
OASL_processed
*.pth
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
fixer.py
notebooks/eda_outputs
notebooks/asl_alphabet_eda_summary.csv
src/__pycache__/__init__.cpython-312.pyc
results/openasl/training_log_openasl.csv
results/oasl/training_log_oasl.csv
